.welcome{
    padding-top: 17px;
    padding-bottom: 200px;
    position: relative;

   
    &__wrapper{
        @include tablet{
            padding: 20px;
        }

        @include tablet-small{
            display: flex;
            flex-direction: column;
        }

    }   

    &__btn{
        text-align: center;
    }

    &__title{

        margin-top: 116px;
        max-width: 509px;
        color: var(--text-color, #252B42);

        /* h1 */
        font-family: Montserrat;
        font-size: 58px;
        font-style: normal;
        font-weight: 800;
        line-height: 80px; /* 137.931% */
        letter-spacing: 0.2px;

        @include tablet-small{
            font-size: 30px;
            max-width: 309px;
        }

    }

    &__desc{
        max-width: 376px;
        color: var(--second-text-color, #737373);

        /* h4 */
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 150% */
        letter-spacing: 0.2px;

    }
        

    &__bg{
        position: absolute;
        z-index: -1;
        object-fit: cover;
        height: 100vh;
        top: 0;
        width: 100%;
    
        @include tablet-small{
            height: 100%;
            
        }
    }

    .container{
        z-index: 2;
        position: relative;
        padding-bottom: 187px;
    }


    &__btn{
        display: flex;
        gap: 10px;
        margin-top: 35px;
    }
    
    &__link1{
        padding: 10px 36px;
        border-radius: 37px;
background: var(--primary-color, #FF7B47);

        color: var(--light-text-color, #FFF);
        
        
        /* btn-text */
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 200% */
        letter-spacing: 0.2px;
    }
   
    &__link2{
        padding: 10px 36px;
        border-radius: 37px;
border: 1px solid var(--secondary-color-1, #0D5C63);
       
color: var(--secondary-color-1, #0D5C63);

/* btn-text */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 200% */
letter-spacing: 0.2px;
    }

}

